/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body > {
  padding-left: 3em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  background: url("/assets/backgrounds/saint-nicholas-2965161_1280.jpg");
  background-repeat: no-repeat;
  background-color: #1d3e4d;
  max-width: 1280px;
}


.programmeurPiet {
  display: none;
}
